<nav class="navbar container " role="navigation" aria-label="main navigation">
  
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logos/fs.png" alt="Logo do Site" style="max-height: 3rem;">
      </a>
      <a class="navbar-item" href="/">
        <strong class="is-size-4 has-text-link">Fernando</strong>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span class="is-hidden-desktop" style="display: none;">Menu</span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/index/" class="navbar-item">
          Início
        </a>
        <a href="/about/" class="navbar-item">
          Sobre Mim
        </a>
      </div>
      
      <div class="navbar-end">
        <a href="https://github.com/fernandodxx" class="navbar-item">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span class="is-hidden-desktop pl-2">Github</span>
        </a>
        <a href="https://www.linkedin.com/in/fernando-santoss" class="navbar-item">
          <span class="icon">
            <i class="fab fa-linkedin"></i>
          </span>
          <span class="is-hidden-desktop pl-2">Linkedin</span>
        </a>
        <div class="navbar-item">
          <div class="buttons">
            <button id="theme-toggle" >
              <span class="icon is-size-5">
                <i class="fa-solid fa-ghost"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
 
</nav>