---
layout: default
title: Home
---

<section class="section has-text-centered">
  <h1 class="title is-1 mt-5">
    Desenvolvedor Full-Stack Ruby on Rails<br>criando soluções escaláveis e eficientes.
  </h1>
  <p class="subtitle is-4 mt-4">Com mais de 2 anos e meio de experiência em desenvolvimento de aplicações web, especializado em Ruby, Rails e SQL.</p>
  <a href="#projects" class="button is-dark is-large mt-4">
    Projetos Recentes
    <span class="icon is-small">
      <i class="fas fa-arrow-right"></i>
    </span>
  </a>
</section>


<section class="section">
  <div class="container">
    <h2 class="title is-4 has-text-centered">Habilidades técnicas</h2>
    <div class="columns is-multiline is-mobile is-centered mt-6">
      <div class="column is-one-quarter-desktop is-half-tablet has-text-centered">
        <span class="icon is-large"><i class="fa-solid fa-gem fa-3x" style="color: #d40202;"></i></i></span>
        <h3 class="title is-5 mt-2">Ruby & Ruby on Rails</h3>
        <p>Desenvolvimento backend eficiente, APIs RESTful e otimização de código.</p>
      </div>
      <div class="column is-one-quarter-desktop is-half-tablet has-text-centered">
        <span class="icon is-large"><i class="fas fa-database fa-3x" style="color: #d40202;"></i></span>
        <h3 class="title is-5 mt-2">PostgreSQL & SQL</h3>
        <p>Modelagem, consultas otimizadas e manipulação eficiente de dados.</p>
      </div>
      <div class="column is-one-quarter-desktop is-half-tablet has-text-centered">
        <span class="icon is-large"><i class="fas fa-code fa-3x" style="color: #d40202;"></i></span>
        <h3 class="title is-5 mt-2">Javascript & Frontend</h3>
        <p>Interatividade, desenvolvimento web responsivo e boas práticas.</p>
      </div>
      <div class="column is-one-quarter-desktop is-half-tablet has-text-centered">
        <span class="icon is-large"><i class="fas fa-tools fa-3x" style="color: #d40202;"></i></span>
        <h3 class="title is-5 mt-2">Versionamento & Metodologias</h3>
        <p>Git, revisão de código e metodologias ágeis para entregas eficazes.</p>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 class="title is-4 has-text-centered mb-6">Experiência</h2>
    <div class="box">
      <h3 class="title is-5">Full-Stack Developer Freelancer</h3>
      <p class="subtitle is-6">Anápolis, Goiás | Ago 2018 - Presente</p>
      <ul>
        <li>Desenvolvimento de aplicações web com Ruby on Rails, PostgreSQL e JavaScript.</li>
        <li>Criação e integração de APIs RESTful para otimização de processos.</li>
        <li>Otimização de performance, reduzindo tempo de resposta em até 30%.</li>
        <li>Colaboração em equipes remotas garantindo entregas pontuais.</li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-4 has-text-centered mb-6" id="projects">
      Meus Projetos Recentes
    </h2>

    <div class="columns is-multiline is-desktop">
      <div class="column is-one-third-desktop is-full-tablet">
        <div class="box has-text-centered">
          <figure class="image is-4by3 mb-4">
            <img src="/images/projects/projeto-1.png" alt="Project 1: Sistema de Reservas de Voos">
          </figure>
          <h3 class="title is-5">Sistema de Reservas de Voos</h3>
          <p class="subtitle is-6 has-text-grey">
            Este é um sistema de reservas de voos desenvolvido com Ruby on Rails, onde os usuários podem pesquisar voos, escolher um voo disponível e preencher as informações dos passageiros para completar a reserva.
          </p>
          <a href="https://github.com/fernandodxx/Flight-Booker" class="button is-text">
            Ver Projeto
          </a>
        </div>
      </div>

      <div class="column is-one-third-desktop is-full-tablet">
        <div class="box has-text-centered">
          <figure class="image is-4by3 mb-4">
            <img src="/images/projects/projeto-2.png" alt="Project 2: FRIEND'S LIST">
          </figure>
          <h3 class="title is-5">FRIEND'S LIST</h3>
          <p class="subtitle is-6 has-text-grey">
            O List é uma aplicação web simples e prática, desenvolvida com Ruby on Rails, que permite a gestão de contatos é fornecer uma interface fácil de usar para armazenar e consultar informações de contatos.
          </p>
          <a href="https://github.com/fernandodxx/list" class="button is-text">
            Ver Projeto
          </a>
        </div>
      </div>
      <div class="column is-one-third-desktop is-full-tablet">
        <div class="box has-text-centered">
          <figure class="image is-4by3 mb-4">
            <img src="/images/projects/projeto-3.png" alt="Project 3: Pay-System">
          </figure>
          <h3 class="title is-5">Pay-System</h3>
          <p class="subtitle is-6 has-text-grey">
            Pay-System é um sistema de gerenciamento de TV por assinatura em Ruby on Rails, que permite cadastrar planos, pacotes, serviços, clientes e criar assinaturas com geração automática de contas, faturas e carnês.
          </p>
          <a href="https://github.com/fernandodxx/list" class="button is-text">
            Ver Projeto
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
