<footer class="footer">
  <div class="content has-text">
    <div class="mt-4">
      <p>
        &copy; <%= Date.today.year %> Fernando Santos. Todos os direitos reservados.
      </p>
      <div class="mt-4">
        <a href="https://www.linkedin.com/in/fernando-santoss" class=" is-underlined">
          Entre em contato
        </a>
      </div>
    </div>
  </div>
</footer>
